.vs/DisPatch/
DisPatch.Api/bin/
DisPatch.Api/obj/Debug/
DisPatch.Api/obj/staticwebassets.pack.sentinel
DisPatch.DB/obj/Debug/
DisPatch.Implements/obj/Debug/
DisPatch.Model/obj/Debug/
.vs/ProjectEvaluation/dispatch.metadata.v2
.vs/ProjectEvaluation/dispatch.projects.v2
*.dll
*.pdb
