.vs/DisPatch/
DisPatch.Api/bin/
DisPatch.Api/obj/Debug/
DisPatch.Api/obj/staticwebassets.pack.sentinel
DisPatch.DB/obj/Debug/
DisPatch.Implements/obj/Debug/
DisPatch.Model/obj/Debug/
.vs/ProjectEvaluation/dispatch.metadata.v2
.vs/ProjectEvaluation/dispatch.projects.v2
*.dll
*.pdb
DisPatch.DB/obj/Release/
DisPatch.Common/obj/Release/net6.0/DisPatch.Common.csproj.FileListAbsolute.txt
DisPatch.Common/obj/Release/net6.0/DisPatch.Common.GeneratedMSBuildEditorConfig.editorconfig
DisPatch.Common/obj/Release/
DisPatch.Api/obj/Release/
DisPatch.License/obj/Release/
DisPatch.Implements/obj/Release/
DisPatch.Liense.Create/obj/Release/
DisPatch.Model/obj/Release/
DisPatch.Schedule/obj/
DisPatch.Common/obj/Debug/
DisPatch.License/obj/Debug/
DisPatch.Liense.Create/obj/Debug/
